body {
    background-color: black;
    height: 100%;
    color: white;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
}

#questions-container {
    background-color: #00db71;
    border-style: solid;
    display: inline-block;
    text-align: center;
    width: 60%;
    height: 70%;
    border-color: #292929;
    border-width: 3px;
    padding: 12px;
    border-radius: 8px;
    margin-left: 18%;
}
h1 {
    font-size: 40pt;
    text-align: center;
    height: 100%;
    margin-top: 20px;
    color: #00db71;
    text-transform: uppercase;
    font-weight: bold;
}
h3 {
    font-size: 40pt;
    text-align: center;
    height: 100%;
    margin-top: 20px;
    color: #00db71;
    text-transform: uppercase;
    font-weight: bold;
}
p {
   cursor: pointer;
}
p:hover{background-color: white;color: #00db71}

button {
    align-content: center;
}

#user-container {
    border-style: solid;
    display: inline-block;
    width: 60%;
    border-color: #292929;
    border-width: 3px;
    padding: 12px;
    border-radius: 8px;
}

.numbers {
    background-color: rgb(14 14 14);
    display: inline-block;
    width: 6.1%;
    min-height: 32px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(14 14 14);
    border-radius: 8px;
    margin: 3px;
}
.numbers2 {
    background-color: rgb(14 14 14);
    display: inline-block;
    width: 6.1%;
    min-height: 32px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(14 14 14);
    border-radius: 8px;
    margin: 3px;
}
.numbers1 {
    background-color: rgb(80 17 200);
    display: inline-block;
    width: 6.1%;
    min-height: 32px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(14 14 14);
    border-radius: 8px;
    margin: 3px;
}
